<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.OrangeHRM.Utilities.ReportingPattern"></listener>
	</listeners>
  <test name="Test">
	 <parameter name="browser" value="Chrome" />
	 <!--parameter name="browser" value="firefox" /-->
	 <!--parameter name="browser" value="msedge" /-->	
    <classes>	  
      <class name="com.OrangeHRM.TestCases.TC_01"/>
      <class name="com.OrangeHRM.TestCases.TC_02"/>
      <class name="com.OrangeHRM.TestCases.TC_03"/>
      <class name="com.OrangeHRM.TestCases.TC_04"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
